<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFirstOrder" />
                <binding name="BasicHttpBinding_ICosmosService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55013/FirstOrder.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFirstOrder" contract="Imperium.IFirstOrder"
                name="BasicHttpBinding_IFirstOrder" />
            <endpoint address="http://localhost:50207/CosmosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICosmosService"
                contract="Cosmos.ICosmosService" name="BasicHttpBinding_ICosmosService" />
        </client>
    </system.serviceModel>
</configuration>